/*! Wilfredo Pacheco | MyCSS v1.0 | Bring vibrant colors to your webpage. */
*{transition: all .5s;}
.addfont{font-family: 'Finger Paint', cursive;}

/*  black  */
.blackmatte{color: #242424;}
.lightblack{color: #37392E;}
.blackheart{color: #131515}
.blueblack{color: #011627}

/*  red  */
.lipstick{color: #FF007F;}
.rubyred{color: #DE3C4B;}

/*  pink  */
.hotpink{color: #FF206E}
.strawberry{color: #F27BAC}

/*  blue  */
.skyblue{color: #89DAFF;}
.brightblue{color: #090C9B;}
.darkblue{color: #1C2541}

/*  green  */
.militarygreen{color: #37392E;}
.keylime{color: #87FF65;}
.brightgreen{color: #0CCE6B;}
.mint{color: #95FF8C}

/*  brown  */
.darkbrown{color: #30292F;}

/*  purple  */
.ultraviolet{color: #6320EE;}
.plum{color: #7F0799}
.grape{color: #9649CB}
.ultraviolence{color: #9F00FF;}

/*  orange  */
.sunset{color: #FA9F42;}
.orangejuice{color: #FF6700}
.apricot{color: #FFC61E;}

/*  yellow  */
.gold{color: #F3CA40;}

/*  white  */
.chalk{color: #FFFFFF}

/*  grey  */
.darkgrey{color: #3F4045;}
.darklightgrey{color: #333745;}
.greycoco{color: #C0C0C0;}
.silver{color: #E5E5E5;}

/*  background colors  */
.bg-blackmatte{background-color: #242424;}
.bg-lipstick{background-color: #FF007F;}
.bg-darkgrey{background-color: #3F4045;}
.bg-darkbrown{background-color: #30292F;}
.bg-darklightgrey{background-color: #333745;}
.bg-lightblack{background-color: #37392E;}
.bg-militarygreen{background-color: #37392E;}
.bg-ultraviolet{background-color: #6320EE;}
.bg-sunset{background-color: #FA9F42;}
.bg-gold{background-color: #F3CA40;}
.bg-skyblue{background-color: #89DAFF;}
.bg-keylime{background-color: #87FF65;}
.bg-brightgreen{background-color: #0CCE6B;}
.bg-brightblue{background-color: #090C9B;}
.bg-rubyred{background-color: #DE3C4B;}
.bg-chalk{background-color: #FFFFFF}
.bg-hotpink{background-color: #FF206E}
.bg-blackheart{background-color: #131515}
.bg-mint{background-color: #95FF8C}
.bg-orangejuice{background-color: #FF6700}
.bg-plum{background-color: #7F0799}
.bg-grape{background-color: #9649CB}
.bg-strawberry{background-color: #F27BAC}
.bg-darkblue{background-color: #1C2541}
.bg-greycoco{background-color: #C0C0C0;}
.bg-apricot{background-color: #FFC61E;}
.bg-silver{background-color: #E5E5E5;}
.bg-ultraviolence{background-color: #9F00FF;}
.bg-blueblack{background-color: #011627}

