/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 3em;
  height: 80vh;;
}

#instructions {
  padding: 1em;
  background-color: papayawhip;
}

#example-form {
  margin: 3em;
  padding: 1em;
  border: 1px solid grey;
}

h1 {
  font-style: italic;
  color: #373fff;
}

button {
  width: 12em;
}